# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# emacs
*~

# Eclipse:
.project
.cproject
.settings
.pydevproject

src/.cproject
src/.project

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# IDE and temp files #
######################
*.swp
.ycm_extra_conf.py*
tags
*.sublime-project
*.sublime-workspace
src/.idea
