# Compiled source
*.com
*.class
*.dll
*.exe
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse
**/.project
**/.cproject
**/.settings
**/.pydevproject

# Other IDE/editor config and temp files
*.swp
.ycm_extra_conf.py*
tags
*.sublime-project
*.sublime-workspace
**/.idea
*~ # emacs

# Common build directories
/build*
/cmake-build-debug

# directory for visual studio auxiliary project info created for the new VS 'build-from-cmake' option:
/.vs

